#homeCards{
    display:inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
#favFruitCards{
    display:inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 30px;
}
.red{
    background-color: red;
    margin-left: 5px;
    
}